In [ ]:
import pandas as pd
velocity = pd.read_csv('Vel.txt',sep=' ',names=list('0123456789'),)
velocity.columns = ['col_1','col_2','col_3',
                     'col_4','col_5','col_6','col_7','col_8','col_9','col_10']

ncols = velocity.loc[0,'col_2']
nrows = velocity.loc[1,'col_2']
xllcorner = velocity.loc[2,'col_2']
yllcorner = velocity.loc[3,'col_2']
cellsize = velocity.loc[4,'col_2']
vel = velocity.loc[6:,'col_1':]

In [ ]:
velocity

In [ ]:
vel.shape

In [ ]:
import pandas as pd
velocity = pd.read_csv('Vel.txt',sep=' ',names=colnames)

In [ ]:
velocity.shape[1]

In [ ]:
col_names = []
for i in range(velocity.shape[1]):
    col_names.append('col_' + str(i+1))

In [ ]:
col_names

In [2]:
import pandas as pd
vel = pd.read_csv('Vel.txt',sep=' ',names=list('0123456789'),)
col_names = []
for i in range(vel.shape[1]):
    col_names.append('col_' + str(i+1))
velocity = pd.read_csv('Vel.txt',sep=' ',names=col_names)

In [3]:
velocity

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10
0,ncols,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,nrows,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,xllcorner,220210.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,yllcorner,662800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cellsize,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NODATA_value,-999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,-999,-999.0,-999.0,-999.0,-999.0,59.0,57.0,40.0,58.0,53.0
7,-999,-999.0,-999.0,-999.0,25.0,52.0,52.0,26.0,26.0,45.0
8,-999,-999.0,-999.0,54.0,29.0,51.0,51.0,32.0,27.0,56.0
9,24,-999.0,25.0,35.0,21.0,49.0,46.0,35.0,35.0,53.0
10,25,30.0,29.0,38.0,24.0,42.0,49.0,38.0,39.0,52.0
11,29,35.0,35.0,29.0,28.0,41.0,42.0,41.0,35.0,35.0
12,30,39.0,31.0,19.0,35.0,38.0,43.0,42.0,34.0,28.0
13,44,42.0,34.0,26.0,39.0,39.0,48.0,46.0,32.0,34.0
14,45,45.0,38.0,37.0,52.0,32.0,42.0,48.0,29.0,35.0
15,35,49.0,36.0,48.0,54.0,35.0,38.0,59.0,25.0,59.0
16,29,42.0,25.0,49.0,59.0,37.0,37.0,57.0,21.0,-999.0
17,25,35.0,21.0,42.0,51.0,26.0,35.0,58.0,-999.0,-999.0
18,20,31.0,18.0,40.0,49.0,29.0,26.0,-999.0,-999.0,-999.0
19,18,19.0,10.0,59.0,42.0,28.0,29.0,-999.0,-999.0,-999.0
20,10,12.0,5.0,51.0,46.0,26.0,35.0,-999.0,-999.0,-999.0